
body {
    height: 100vh;
}

main {
    height: 930px;
    width: 1440px;

    padding: 5rem 10rem;
}

h1, h2 {
    font-size: 2rem;
    margin: .6rem 0 1rem 0;
}

p {
    font-size: .9rem;
    line-height: 2;

    margin-bottom: 2rem;
}

/* === HEADER === */
header {
    width: 30rem;
    margin: 0 auto;
}

/* === ARTICLE === */
article {
    width: 70rem;
    height: 35rem;
    overflow: hidden;

    display: flex;
}

/* === SECTION === */
section {
    width: 22rem;
    height: 15.5rem;

    margin: 1rem 1rem;
    padding: 1.5rem;
}

section h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: left;
}

section p {
    margin-bottom: 1rem;
}

section img {
    width: 4rem;
    height: 4rem;

    margin-left: 70%;
}

section:first-child,
section:last-child {
    align-self: center;
}

/* === FOOTER === */
.attribution { font-size: 15px; text-align: center; }
.attribution a { color: var(--color-link); }
